
.wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}
.show-product,
.summary{
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 15px;
    max-height: 20rem;
}
.reverse{
    display: flex;
    flex-direction: column-reverse;
}
.show-product_title{
    margin: 10px 10px;
}
.wrapper-porduct{
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: 30px 7fr 1fr;
    padding: 10px
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.number span{
    border-radius: 25%;
    border: 1px solid black;
    padding: 5px;
}

.content{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.info-product{
    margin: auto 20px;
    text-align: -webkit-center;
}

.title-product{
    border-bottom: 1px solid black;
}
.photo-product{
    box-sizing: border-box;
}
.photo-product img{
    width: 100%;
    border-radius: 10px;
    border: 0px solid;
}
.description-product{
    margin: 10px;
}
 .statistics{
    display: flex;
    justify-content: space-between;
 }
 .count{
    align-self: center;
    text-align: -webkit-center;
 }
 .summary{
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 .promocode{
    align-self: center;
    width: 10rem;
 }
 .bth-buy-now{
    align-self: center;
    width: 10rem;   
 }

 .promocode{
    text-align: center;
    height: 2rem;
    border: 1px solid;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
 }

 .bth-buy-now{
    height: 2rem;
    border: 2px solid tomato;
    border-radius: 20px;
    background-color: goldenrod;}

.bth-buy-now:hover{
    cursor: pointer;
    background-color: aqua;
}

.plus,
.minus{
    font-size: 15px;
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 50%;
}
.plus:hover,
.minus:hover{
    background-color: tomato;
    cursor:pointer;
}
.Sorry{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-promo{
    border: 1 px solid black;
     border-radius: 10px;
     margin-left: 20px;
}
.overflow{
    position:fixed;
    z-index: 2;
    background: rgb(0 0 0 / 80%);
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}
.overflow h2 {
    color: #fff;
}
.main-buy-now{
    text-align: -webkit-center;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-buy-now input{
    width: 200px;
    border: 1px solid black;
    border-radius: 15px;
    height: 20px;
    padding-left: 15px;
}
.error{
    color: red;
    position: absolute;
    
}
.type-card{
    position: absolute;
    right: 230px;
    color:peru;
}
.credit-catd{
    position: relative;
}
.bth-submit{
    margin-top: 20px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    background-color: darkgoldenrod;
    height: 40px;
    width: 80px;
}
.bth-drop{
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
}