@import '_variables.scss';
.select {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    max-width: 200px;
    &__selected {
        position: relative;
        padding-right: 30px;
        cursor: pointer;
        font-size: 18px;
        line-height: 23px;
        white-space: nowrap;
        &::before {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            background-image: url('../img/arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            right: 10px;
            top: 4px;
        }
    }
    &__list {
        display: none;
        background: #fff;
        box-shadow: 0 0 7px rgb(67 86 100 / 16%);
        border-radius: 4px;
        transition: all .3s ease-in;
        li {
            padding: 10px 16.5px;
            cursor: pointer;
            white-space: nowrap;
            transition: all .3s ease-in;
        }
    }
    &.shown {
        .select__list {
            display: block;
            position: absolute;
            left: -5px;
            top: 30px;
            z-index: 100;
        }
        .select__selected::before {
            background-image: url('../img/chevron\ down.svg');
        }
    }
}


@media screen and (hover: hover) {
    .select__list li:hover {
        color: #fff;
        background-color: $hover-color;
    }
}