.main {
    padding: 40px 0 80px;
    .main__inner {
        display: flex;
    }
    &__not-found {
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-top: 300px;
        font-size: 26px;
        margin: 0 auto;
    }
    &__filter {
        width: 300px;
        padding-right: 20px;
    }
    &__products {
        flex: 1
    }
    &__products-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

    }
    &__controls {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.input-search {
    width: 100%;
    position: relative;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    margin-bottom: 30px;
    &__input,
    &__input:focus-visible {
        background-color: #fff;
        width: 100%;
        font-size: 15px;
        line-height: 19px;
        border-radius: 6px;
        padding: 11px 80px 11px 11px;
        border: none;
        outline: none;
    }
    &__btn {
        width: 42px;
        height: 42px;
        right: 0;
        top: 0;
        position: absolute;
        display: block;
        border: none;
        background-color: inherit;
        &::before {
            background-image: url("../img/search.svg");
            height: 15px;
            width: 15px;
            top: 13px;
            left: 13px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            content: "";
        }
    }
}
